body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

img {
  width: 150px;
  margin: 0px;
  padding: 0px;
}

.pic {
  width: 10px;
  padding-left: 400px;
  display: float;
  float: right;
  position: absolute;
  left: 265px;
  margin-top: 20px;
}

.date {
  width: 200px;
  font-family: Helvetica;
  margin-left: 15px;
  color: gray;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}

.summary {
  width: 400px;
  margin:0px;
  font-family: Georgia;
}

.title {
  width: 400px;
  font-family: Georgia;
  font-size: 25px;
  margin-top: 4px;
  padding-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  letter-spacing: -.03em;
  word-spacing: -.03em;
  
}

.headtitle {
  margin-bottom:0px;
  padding-bottom: 0px;
  margin-top: 17px;
  padding-top: 0px;
  font-size: 12px;
}

.break {
  flex-basis: 100%;
  height: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.author{
  margin-top: 12px;
  font-size: 14px;
  font-family: Helvetica;
  color: gray;
}
hr {
  width: 807px;
  height: .01px;
  background:gray;
  padding: 0px;
  margin-left: 15px;
}